@charset "UTF-8";
/* 픽시브 어바웃 태블릿 */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    word-break: keep-all;
    /* outline: 1px solid red; */
}

body{ min-width: unset}
.function, .toggle, .login-SIGHUP a, .link a, .language {
    display: none;
}
/* 나브 메뉴 */
nav.sub {
    width: 100%;
    padding: 50px 0;
}
nav.sub a.logo {
    top: 0;
    width: 160px;
    height: 60px;
    background: url(/pixivportfolio/img/LOGO.png) no-repeat 50% 50%;
    background-size: contain;
  }
/* 사이드메뉴 스타일 */
nav.sub div.menu {
    width: 0;
    height: 100%;
    position: fixed;
    gap: 25px;
    top: 0;
    right: 0;
    overflow: hidden;
    background: #0096fa;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition:.3s;
    z-index: 210;
}
nav .menu a{
    color: #fff;
    height: 2rem;
    line-height: 2rem;
    font-size: 2rem;
    margin: 0 0 30px 0;
    padding: 0;
    cursor: pointer;
}
/* 메뉴 닫기 */
.mclose{
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 2rem;
}
/* 메뉴 열기 */
.TMenu{
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #0096fa;
    z-index: 1;
}
/* 첫 단락 */
.about-us {
    width: 100%;
    height:auto
}
.up img {
    width: 100%;
}
.about-us .down {
    width: 100%;
}
.about-us .down img {
    width: 100%;
}
/* 두번째 단락 */
.sec01 {
    height: 100%;
}
.inner {
    height: 100%;
}
.top {
    width: 100%;
    height: 100%;
    padding: 63px 0 20px 0;
}
.imformation1 {
    width: 100%;
    height: 100%;
    padding: 0 50px;
}
.imformation1 img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.sec01 p {
    width: 100%;
    height: 100%;
    font-size: 12px;
}
.sec01 h2 {
    font-size: 25px;
}
.first, 
.third {
    justify-content: center;
}
.first,
.second,
.third {
    width: 100%;
    height: 100%;
    padding: 0;
    align-items: center;
}
.first img,
.second img,
.third img {
    width: 50%;
    height: 50%;
}
.imformation2,
.imformation3,
.imformation4 {
    width: 100%;
    height: 100%;
}
.imformation2 h2,
.imformation3 h2,
.imformation4 h2 {
    width: 100%;
    height: 100%;
}
.second {
    padding: 0;
    transform: translateX(0);
    margin: 0 auto;
}
.third {
    transform: translateX(0);
}
.bottom {
    width: 100%;
    height: 100%;
    margin: 20px 0;
}
.fourth {
    display: none;
}
.imformation6 {
    width: 100%;
    height: 100%;
}
.imformation6 span {
    width: auto;
}
/* 기업 정보 */
.profile img {
    width: 100%;
}
/* 지도 크기 */
iframe {
    width: 100%;
}
/* 푸터 */
.helper {
    height: 100%;
}
.order {
    height: 100%;
}
.order p {
    font-size: 15px;
    padding: 20px 10px;
}
.button {
    width: 100%;
    justify-content: center;
}
.button a {
    width: 100%;
}
.button1, .button2 {
    width: 100%;
}
.button1 div, .button2 div {
    font-size: 18px;
}
/* 기업 마크 */
.last {
    padding: 0;
    justify-content: center;
}
.last span {
    height: 50%;
    padding: 25px 0;
}
/* 탑버튼 */
#topBtn {
    position: static;
    bottom: 40px;
    right: 40px;
    font-size: 25px;
    width: 100%;
    height: 50px;
    background: #0096fa;
    border:0px;
    color: white;
    cursor: pointer;
    display: none;
    border-radius: 0;
}