@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    word-break: keep-all;
    /* outline: 1px solid red; */
}
body {
    font-family: 'Noto Sans', sans-serif;  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(/pixivportfolio/img/by-mikapikazo.jpg) no-repeat center;
    background-size: cover;
}
body::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
}
a{
    text-decoration: none;
}
.login-form {
    position: relative;
    z-index: 2;
}
.login-form h1 {
    font-size: 32px;
    color: #0096FA;
    text-align: center;
    margin-bottom: 60px;
}
.int-area {
    position: relative;
    width: 400px;
    margin-top: 20px;
}
.int-area:first-child {
    margin-top: 0;
}
.int-area input {
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
    font-size: 18px;
    color: #fff;
    outline: none;
}
.int-area label {
    position: absolute;
    left: 10px;
    top: 15px;
    font-size: 18px;
    color: #999;
    transition: all .5s ease;
}
.int-area label.warning {
    color: red !important;
    animation: warning .3s ease;
    animation-iteration-count: 3;
}
@keyframes warning {
    0% {transform: translateX(-8px);}
    25% {transform: translateX(8px);}
    50% {transform: translateX(-8px);}
    75% {transform: translateX(8px);}
}
.int-area input:focus + label,
.int-area input:valid + label {
    top: -2px;
    font-size: 13px;
    color: #0096FA;
}
.btn-area {
    margin-top: 30px;
}
.btn-area button {
    width: 100%;
    height: 50px;
    background: #0096FA;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 25px;
}
.caption {
    margin-top: 20px;
    text-align: center;
}
.caption a {
    font-size: 15px;
    color: #999;
    text-decoration: none;
}
.user-info {
    position: relative;
    top: 300px;
    left: 950px;
    width: 200px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    background: rgba(68, 68, 68, 0.8);
    border-radius: 30px;
}
.full {
    display: flex;    
    align-items: center;
    gap: 20px;
}
.txt {
    flex-direction: column;
}
.name {
    color: #FFFFFF;
    font-size: 15px;
    letter-spacing: -0.1em;
}
.art {
    color: #FFFFFF;    
    font-weight: 300;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.05em;
}