@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  word-break: keep-all;
  /* outline: 1px solid red; */
}
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
}
.function {
  position: fixed;
  width: 100%;
  z-index: 100;
  gap: 66px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
div .toggle input {
  visibility: hidden;
}
.switch {
  position: relative;
  display: inline-block;
  width: 57px;
  height: 33px;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  border-radius: 34px;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background: #fff;
  border-radius: 50%;
  transition: .4s;
}
.switch input:checked + .slider {
  background-color: #0096fa;
}
.switch input:checked + .slider::before {
  transform: translateX(26px);
}
/* 다크모드 배경색 */
.dark-mode {
  background: #000;
}
.search-box{
  height: 35px;
  top: 0px;
  background: #eeeeee;
  border-radius: 8px;
  padding: 10px;
  outline: none;
}
.search-btn {
  color: #999999;
  float: left;
  width: 17px;
  height: 17px;
  margin: auto;
  justify-content: center;
  align-content: center;
 }
.search-txt {
  border: 10px;
  width: 350px;
  height: 15px;
  flex: none;
  order: 1;
  flex-grow: 0;
  outline: none;
  color: #999999;
  background: none;

  text-align: left;
  text-indent: 10px;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
  align-items: center;
}
.function .login-SIGHUP {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
  width: 140px;
  height: 27px;
  top: 5.5px;
  color: #000;
  text-decoration: none;
}
.login-SIGHUP .login,
.login-SIGHUP .signup{
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  display: flex;
  align-items: center;
  letter-spacing: -0.05em;
}
.login-SIGHUP a,
.link a {
  color: #000;
  text-decoration: none;
}
.login-SIGHUP a:hover {
  color: #0096fa;
}
.link {
  width: 365.71px;
  padding: 5px;
  height: 20px;
  left: 781px;
  top: 9px;
  display: inline-block;
  display: flex;
  padding: 0px;
  gap: 15px;
  letter-spacing: -0.065em;
}
.link a img {
  width: 14px;
  height: 14px;
  justify-content: center;
}
.language {
  width: 48px;
  height: 20px;
  background: #E7E7E7;
  border-radius: 30px;
}
.language a {
  width: 20px;
  height: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  display: flex;
  align-items: center;
  transform: translateX(5px);
}
.language img {
  width: 11.5px;
  height: 11.5px;
  margin: 5px;
  top: 4.24px;
}
.sns {
  width: 45px;
  height: 12px;
  left: 320px;
  display: flex;
  padding: 0px;
  gap: 5px;
  top: 4px;
}
nav.sub {
  width: 100%;
  height: 184px;
  margin: 0 auto;
  padding: 50px 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 372px;
}
nav.sub a.logo {
  width: 217px;
  height: 84px;
  /* display: block; */
  background: url(/pixivportfolio/img/LOGO.png) no-repeat;
}
nav.sub div.menu {
  width: 557px;
  padding: 0px;
  gap: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav.sub div.menu a {
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
}
.menu a {
  color: #000;
  text-decoration: none;
  display: inline-block;
}
div .next {
  display: block;
}
.banner {
 position: relative;
 width: 100%;
 height: 987px;
 padding: 0;
 margin: 0;
 display: flex;
 align-items: center;
 justify-content: center;
}
.banner h1 {
  overflow: hidden;
  text-indent: -500px;

  width: 0px;
  height: 0px;
  padding: 0px;
  margin: 0px;
}
.banner button {
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
}
.slidebanner{
  position: absolute;
  width: 1688px;
  top: 0;
  padding: 0;
  margin: 0;
  display:inline-block;
}
.slidebanner .slide {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}
.slick-slide img {
  justify-content: center;
  align-items: center;
  display: inline-block;
}
.slidebanner .slick-prev,
.slidebanner .slick-next{
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  z-index: 50;
}
.slick-prev{
  left: -80px;
}
.banner .slick-next{
  left: 1715px;
}
.slidebanner .slick-prev::before,
.slidebanner .slick-next::before{
  width: 100%;
  height: 100%;
  content: "";
  display: block;
}
.slidebanner .slick-prev::after,
.slidebanner .slick-next::after{
  display: none;
}
.slidebanner .slick-prev::before{
  background: url(/pixivportfolio/img/back.svg) no-repeat 50% 50% / contain;
}
.slidebanner .slick-next::before{
  background: url(/pixivportfolio/img/forword.svg) no-repeat 50% 50% / contain;
}
div.drawing {
  position: relative;
  width: 100%;
  height: 100%;
  top: 42px;
  display: block;
}
.inner {
  width: 1146px;
  margin: 0 auto;
  margin-bottom: 42px;
}
div .inner section {
  width: 1146px;
  height: 530px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  align-items: center;
}
.sec01 {
  position: relative;
  margin: 0px;
  padding: 0px;
}
div .first h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  display: flex;
  letter-spacing: -0.065em;
}
div h2 {
  display: block;
  padding-bottom: 55px;
}
.users div {
  display: block;
  box-sizing: border-box;
}
.abc {
  position: absolute;
}
ul .list {
  padding: 0px;
  flex-wrap: wrap;
}
ul li {
  position: absolute;
  list-style: none;
}
ul li:nth-child(2) {
  left: 193.5px;
}
ul li:nth-child(3) {
  left: 387px;
}
ul li:nth-child(4) {
  left: 580.5px;
}
ul li:nth-child(5) {
  left: 774px;
}
ul li:nth-child(6) {
  left: 967.5px;
}
div img{
  cursor: pointer;
}
.example {
  width: 173.5px;
  display: inline-block;
}
.example .illust .image {
  height: 175px;
  width: 175px;
  overflow: hidden;
  cursor: pointer;
}
.example .illust .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: .2s linear;
  border-radius: 10px;
}
.example .illust .image:hover img {
  transform: scale(1.1);
}
.name {
  position: relative;
  width: 173px;
  height: 14px;
  top: 2px;
}
.name .popup_image {
  position: fixed;
  top: 0; left: 0;
  background: rgba(0,0,0,.9);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}
.name .popup_image span {
  position: absolute;
  top:0; right: 10px;
  font-size: 40px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 100;
}
.name .popup_image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #fff;
  width: 500px;
  object-fit: cover;
}
.profile1 {
  width: 12px;
  height: 12px;
  background: url(/pixivportfolio/img/profile1.svg) no-repeat;
}
.profile2 {
  width: 12px;
  height: 12px;
  background: url(/pixivportfolio/img/profile2.svg) no-repeat;
}
.profile3 {
  width: 12px;
  height: 12px;
  background: url(/pixivportfolio/img/profile3.svg) no-repeat;
}
.profile4 {
  width: 12px;
  height: 12px;
  background: url(/pixivportfolio/img/profile4.svg) no-repeat;
}
.profile5 {
  width: 12px;
  height: 12px;
  background: url(/pixivportfolio/img/profile5.svg) no-repeat;
}
.profile6 {
  width: 12px;
  height: 12px;
  background: url(/pixivportfolio/img/profile6.svg) no-repeat;
}
.profile7 {
  width: 12px;
  height: 12px;
  background: url(/pixivportfolio/img/profile7.svg) no-repeat;
}
.profile8 {
  width: 12px;
  height: 12px;
  background: url(/pixivportfolio/img/profile8.svg) no-repeat;
}
.profile9 {
  width: 12px;
  height: 12px;
  background: url(/pixivportfolio/img/profile9.svg) no-repeat;
}
.profile10 {
  width: 12px;
  height: 12px;
  background: url(/pixivportfolio/img/profile10.svg) no-repeat;
}
.profile11 {
  width: 12px;
  height: 12px;
  background: url(/pixivportfolio/img/profile11.svg) no-repeat;
}
.profile12 {
  width: 12px;
  height: 12px;
  background: url(/pixivportfolio/img/profile12.svg) no-repeat;
}
.profile16 {
  width: 12px;
  height: 12px;
  background: url(/pixivportfolio/img/profile16.svg) no-repeat;
}
.profile19 {
  width: 12px;
  height: 12px;
  background: url(/pixivportfolio/img/profile19.svg) no-repeat;
}
.profile24 {
  width: 12px;
  height: 12px;
  background: url(/pixivportfolio/img/profile24.svg) no-repeat;
}
.artist {
  position: absolute;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 11px;
  left: 14px;
}
div.reaction {
  position: absolute;
  display: flex;
  width: 77px;
  height: 14px;
  left: 95px;
  gap: 5px;
}
.heart {
  width: 36px;
  height: 14px;
  padding: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.065em;
}
.heart a {
  transform: translateY(2px);
}
.heart button {
  width: 10px;
  height: 10px;
  transform: translateY(1px);
  border:none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  background: url(/pixivportfolio/img/whitehearts.svg);
}
.heart button:focus {
  background: url(/pixivportfolio/img/redheart.svg);
}
.views {
  width: 36px;
  height: 10px;
  padding: 0;
  transform: translateY(2px);
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.065em;
}
.list1 {
  position: absolute;
  top: 210px;
}
.sec02 {
  position: relative;
}
.sec03 {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}
.page {
  width: 1146px;
  height: 514px;
}
div.crown {
  width: 255px;
  height: 48px;
  font-style: normal;
  font-size: 30px;
  letter-spacing: -0.065em;
  flex: none;
  columns: 24px;
}
div.crown img {
  width: 48px;
  height: 48px;
}
.popular .three {
  top: 20px;
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 48px;
  text-align: center;
}
.popular h2 {
  width: 116px;
  height: 36px;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.065em;
}
.popular .three button {
  visibility: hidden;
}
.sec04 {
  position: relative;
  top: 20px;
  margin: 0;
  padding: 0;
}
.sec04 h2 {
  overflow: hidden;
  text-indent: -500px;
  width: 0px;
  height: 0px;
  padding: 0px;
  margin: 0px;
}
iframe {
  width: 1146px;
  height: 530px;
}
footer {
  position: relative;
  width: 100%;
  top: 40px;
  height: 322px;
  display: block;
  background:linear-gradient(
    to top,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 0.5) 40%,
    rgba(255, 255, 255, 0.7) 90%,
    rgba(255, 255, 255, 1) 98%,
    rgba(255, 255, 255, 1) 99%,
    rgba(255, 255, 255, 1) 100%
  ),
  url(/pixivportfolio/img/footer.svg) no-repeat;
}
.other {
  padding: 0px;
  gap: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tools {
  padding: 0px;
  gap: 52px;
  width: 750px;
  height: 322px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.paint {
  width: 750px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
  gap: 70px;  
}
.helper {
  width: 750px;
  height: 43px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 50px;
  gap: 25px;
}
.helper a {
  font-weight: 600;
  text-decoration: none;
  font-size: 20px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.065em;
  color: #000000;
}
.Executives {
  width: 598px;
  height: 42px;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  gap: 100px;
}
.imformation1,
.imformation2  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
}
.ceo-founder {
  width: 100%;
  padding: 0px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.ceo-founder span {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: -0.05em;
}
.inf {
  font-weight: 900;
  font-size: 20px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
}
.program {
  width: 368px;
  height: 320px;
  padding: 17px 51px;
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
}
.program .paint {
  padding: 0px;
  gap: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
div .paint div {
  width: 62px;
  height: 286px;
  padding: 0px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
div .paint a {
  text-decoration: none;
}
div .paint span {
  color: #000;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.065em;
}