@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  word-break: keep-all;
  outline: 1px solid red;
}
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.function {
  position: fixed;
  width: 100%;
  z-index: 100;
  gap: 66px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
div .toggle input {
  visibility: hidden;
}
.switch {
  position: relative;
  display: inline-block;
  width: 57px;
  height: 33px;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  border-radius: 34px;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background: #fff;
  border-radius: 50%;
  transition: .4s;
}
.switch input:checked + .slider {
  background-color: #0096fa;
}
.switch input:checked + .slider::before {
  transform: translateX(26px);
}
/* 다크모드 배경색 */
.dark-mode {
  background: #000;
}
.search-box{
  height: 35px;
  top: 0px;
  background: #eeeeee;
  border-radius: 8px;
  padding: 10px;
  outline: none;
}
.search-btn {
  color: #999999;
  float: left;
  width: 17px;
  height: 17px;
  margin: auto;
  justify-content: center;
  align-content: center;
 }
.search-txt {
  border: 10px;
  width: 350px;
  height: 15px;
  flex: none;
  order: 1;
  flex-grow: 0;
  outline: none;
  color: #999999;
  background: none;

  text-align: left;
  text-indent: 10px;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
  align-items: center;
}
.function .login-SIGHUP {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
  width: 140px;
  height: 27px;
  top: 5.5px;
  color: #000;
  text-decoration: none;
}
.login-SIGHUP .login,
.login-SIGHUP .signup{
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  display: flex;
  align-items: center;
  letter-spacing: -0.05em;
}
.login-SIGHUP a,
.link a {
  color: #000;
  text-decoration: none;
}
.login-SIGHUP a:hover {
  color: #0096fa;
}
.link {
  width: 365.71px;
  padding: 5px;
  height: 20px;
  left: 781px;
  top: 9px;
  display: inline-block;
  display: flex;
  padding: 0px;
  gap: 15px;
  letter-spacing: -0.065em;
}
.link a img {
  width: 14px;
  height: 14px;
  justify-content: center;
}
.language {
  width: 48px;
  height: 20px;
  background: #E7E7E7;
  border-radius: 30px;
}
.language a {
  width: 20px;
  height: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  display: flex;
  align-items: center;
  transform: translateX(5px);
}
.language img {
  width: 11.5px;
  height: 11.5px;
  margin: 5px;
  top: 4.24px;
}
.sns {
  width: 45px;
  height: 12px;
  left: 320px;
  display: flex;
  padding: 0px;
  gap: 5px;
  top: 4px;
}
nav.sub {
  width: 100%;
  height: 184px;
  margin: 0 auto;
  padding: 50px 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 372px;
}
nav.sub a.logo {
  width: 217px;
  height: 84px;
  /* display: block; */
  background: url(/pixivportfolio/img/LOGO.png) no-repeat;
}
nav.sub div.menu {
  width: 557px;
  padding: 0px;
  gap: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav.sub div.menu a {
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
}
.menu a {
  color: #000;
  text-decoration: none;
  display: inline-block;
}
.tab {
  width: 1146px;
  height: 67px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0;
}
.picture {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 15px;
}
.picture h2 {
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  letter-spacing: -0.05em;
}
.illustrations,
.ugoira, .manga, .novels {
width: 286px;
height: 67px;
cursor: pointer;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}